<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{37.8059065,-122.4345716}</string>
	<string>{37.7829187,-122.3992536}</string>
	<string>{37.7781136,-122.3892852}</string>
	<string>{37.7831993,-122.4070414}</string>
</array>
</plist>
