<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{37.7769839,-122.4125782}</string>
	<string>{37.7902103,-122.4607413}</string>
	<string>{37.7787254,-122.4210354}</string>
	<string>{37.7691073,-122.4111169}</string>
</array>
</plist>
